.firstscreen
    .container
        .row 
            .firstscreen__inner
                .firstscreen__block-text.col-md-7
                        .firstscreen__title 
                            span Квартирные переезды 
                        .firstscreen__subtitle
                            span По Москве и области
                .firstscreen__img  
                    img(src="../images/human.png", alt="")   
                include ../button-main/button-main
                        |Заказать 
                .firstscreen__advnt.col-md-8.col-xl-6.col-xxl-5
                    span.firstscreen__advnt-item Более 800 переездов
                    span.firstscreen__advnt-item Бережная упаковка
                    span.firstscreen__advnt-item Фиксированная цена
