.firstscreen
    .container 
        .firstscreen-title 
            p Квартирные переезды 
        .firstscreen-subtitle
            span По Москве и области
        .firstscreen-img  
            img(src="../images/human.png", alt="")   
        include ../button-main/button-main
                |Заказать 
