.firstscreen
    .container 
        .firstscreen__title 
            p Квартирные переезды 
        .firstscreen__subtitle
            span По Москве и области
        .firstscreen__img  
            img(src="../images/human.png", alt="")   
        include ../button-main/button-main
                |Заказать 
