.call-form
		.container
			.row 
				.call-form__content.col-md-8.col-lg-8.col-xl-7.col-xxl-7
					h3.call-form__title Не нашли подходящий пакет? Мы можем подобрать 
						span.color-text индивидуальные условия
					.call-form__subtitle Составим меню учитывая все ваши потребности
					form.call-form__inner.validate-form
						input(type="tel" name="phone" placeholder="+7 ( )").call-form__tel
						.call-form__check
							input(type="checkbox" id="callCheck" name="callCheck")
							label(for="callCheck") Я согласен с 
								a(href="#").politics-link  политикой конфиденциальности
						.call-form__button
							button(type="submit").button-calculate 
								span Отправить
					.call-form__image
						img(src="images/blank.png" alt = "форма")
