@include media-breakpoint-up(xxl) {
  .packages {
    .package-decor__img{
      position: absolute;
      width: 270px;
      height: 270px;
      right: 0px;
      top:-180px;
      overflow: hidden;
      @media screen and (min-width: 1500px){
        right: -40px;
      }
      @media screen and (min-width: 1600px){
        right: -90px;
      }
      &:before{
       
        background: url("/decor-image/decore-10.png") no-repeat  0px 0px;
        background-size: 100%;

      }
  }
  	.container{
      max-width: 1419px;
    }
    &__item{
    	padding: 49px 40px 50px;
    }
 
  }
}
