@include media-breakpoint-up(xs) {

    h2 {
        font-size: 1.25rem;
        font-weight: 600;
    }

}
@include media-breakpoint-up(md) {
    h2{
        font-size: 1.5rem;
    }
}
@include media-breakpoint-up(lg) {
    h2{
        font-size: 1.75rem;
    }
}
@include media-breakpoint-up(xl) {
    h2{
        font-size: 1.875rem;
    }
}
// @include media-breakpoint-up(md) {

//     h2,
//     h1 {
//         font-size: 1.8rem;
//     }

//     html {
//         font-size: 20px;
//     }
// }

// @include media-breakpoint-up(xl) {
//     h1 {
//         font-size: 2.4rem;
//     }
// }

body {
    font-family: 'Montserrat', sans-serif;
}
.overflow-hidden{
    overflow: hidden;
}
a{
    color: #111;
    text-decoration: none;
}
*,
a:focus {
    outline: none !important;
}
.firstscreen{
    background-color: #FED100;

}
%flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

%flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

%flex-row-between {
    display: flex;
    justify-content: space-between;
}
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&display=swap');
>>>>>>> 7660293a0958943c26e059561b255e40e45dfaf8
