@include media-breakpoint-up(lg) {
  .process {
  
    &__item-title{
      font-size: 1.25rem;
      width: 100%;
      padding: 0 0 15px 0;

    }
    &__item-text{
      flex-direction: column;
    }
    &__item-desc{
      display: block;
    }
  }
}
