section.advantage 
    .container 
        .row.advantage__item-wrap
            h2.advantage__title Наши преимущества
            .advantage__item-inner(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}')
                .advantage__item-block
                    .advantage-icon
                        img(src="icons/adv-icon-1.svg", alt="icon")
                    .advantage__icon_title
                        p Делимся опытом
                    .advantage__icon_description 
                        p Наши сотрудники всегда готовы поделиться своим опытом,<br> так как сами бегают полумарафоны, переплыли Босфор, готовятся к соревнованиям по триатлону!
                .advantage__item-block
                    .advantage-icon
                        img(src="icons/adv-icon-2.svg", alt="icon")
                    .advantage__icon_title
                        p Заботимся о здоровье 
                    .advantage__icon_description 
                        p Мы работаем для того, <br> чтобы Ваши занятия спортом шли на пользу Вашему здоровью и были в радость Вам и Вашим близким! 
                .advantage__item-block
                    .advantage-icon
                        img(src="icons/adv-icon-3.svg", alt="icon")
                    .advantage__icon_title
                        p Учим бегать
                    .advantage__icon_description 
                        p Помогаем с обучением <br> правильной технике бега! <br> Дружим с крупнейшей школой бега в России - I LOVE RUNNING.
