.test-form
	.test-form-decor__img
	.container
		.test-form__wrap
				.test-form__title Привезем тестовый 
					span завтрак, 
					span обед 
					| и 
					span ужин 
					span бесплатно
					|, чтобы вы убедились в качестве
				.test-form__img
				.test-form__button.btn-overlay
					include ../button-calculate/button-calculate 
						span Заказать тестовый обед