.row
    .first-screen__inner.col-xl-7.col-lg-7.offset-xl-5.offset-lg-5.col-md-9.offset-md-3.col-sm-12
                .first-screen__headline
                    h1.first-screen__main-title.text-white  Подбор пульсометра
                    span.first-screen__main-subtitle.text-white C учётом Вашего уровня подготовки
                .first-screen__icons-wrap.col-xl-12.col-lg-10.col-md-10.col-12
                    .first-screen__icons-inner.col-xl-10.col-lg-10.col-10
                        .icon-block
                            .icon
                            .icon-text.text-white Время подбора: 10 минут
                        .icon-block
                            .icon
                            .icon-text.text-white Бесплатная доставка 
                        .icon-block
                            .icon
                            .icon-text.text-white  Ответим<br> на все вопросы
                .first-screen__button-block
                    button.button_red.first-screen__button.text-white(type="button" data-modal="consultation" data-toggle="modal" data-target="#exampleModal") Заказать консультацию
                    .button-subtitle.text-white или <a href="#"> ПЕРЕЙТИ В КАТАЛОГ</a>

                
