@include media-breakpoint-up(lg) {
    .contacts {
        padding: 80px 100px 80px 0;
        .contacts-decor__img{
            top: -186px;
            right: -100px;
            width: 355px;
            height: 311px;
            &:after{
              transform: rotate(0deg);
              right: 0px;
            }
           
        }
    }

}