@include media-breakpoint-up(lg) {
    .main-slider {
        .glide__arrow--left {
            left: 13em;
        }

        .glide__arrow--right {
            right: 13em;
        }
        .document__item{
            font-size: 18px;
        }

    }
}
