.select#select
    .container
        .select__title-wrap
          h2.select__title Почему 
            span.color-text выбирают нас? 
        .select__wrap-items
          .select__item
            .select__item-desc Большие высоко<wbr>калорийные порции
            .select__item-img 
              img(src="images/select__item-img01.png", alt="порция")
          .select__item
            .select__item-desc Всегда свежие ингридиенты
            .select__item-img
              img(src="images/select__item-img02.png", alt="овощи")
          .select__item
            .select__item-desc Оперативная доставка
            .select__item-img
              img(src="images/select__item-img03.png", alt="доставка")
          .select__item
            .select__item-desc Работаем с НДС 20%
            .select__item-img
              img(src="images/select__item-img04.png", alt="калькулятор")
        .select-decor__img
        
