@include media-breakpoint-up(lg) {
    .reviews {
        .container {
            max-width: 936px;
        }


        &__clients {
            gap: 10px;
        }

        &__content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 0px 10px;
        }

    }
}