@include media-breakpoint-up(md) {
  .footer {
    &__wrap{
      flex-direction: column;
      align-items: stretch

    }
    &__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo-text {
      font-size: 16px;
  }
  .logo-color{
    font-size: 31px;
    &:after{
      top: -12px;
      right: 8px;
      width: 46px;
      height: 45px;
      background-size: 47px 44px;
    }
  }
    &__tel {
      position: relative;
      display: block;
      font-size: 18px;
      &:before {
          position: absolute;
          top: 3px;
          left: -30px;
          width: 19px;
          height: 19px;
          content: '';
          background: url("tel-icon.svg");
          background-repeat: no-repeat;
          background-size: cover;
      }

      a {
          color: inherit;
      }
  }
&__nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0 0 0;
}
&__politic a{
  text-decoration: underline;
  color: $orange;
}
  }
}