@include media-breakpoint-up(xxl) {
    .main-slider {
      
        margin: 70px auto 0;
        
        .glide__arrow--left {
            left: 21em;
        }

        .glide__arrow--right {
            right: 21em;
        }

    }
}