@include media-breakpoint-up(md) {
    .interview-form {
        margin-top: 150px;
        padding: 40px 0;
        font-size: 20px;
        &__content {
            position: relative;

            &:before {
                position: absolute;
                right: 102%;
                bottom: -10%;
                width: 70%;
                height: 104%;
                content: '';
                background: url("cook.png") no-repeat;
                background-position: 0 0;
                background-size: 100%;
            }
        }

        &_title {
            text-align: left;
            font-size: 26px;
        }

        &_desk {
            font-size: 20px;
        }

      

        .text-menu {
            display: inline-block;
        }
        .interview-form_button .button-calculate {
            width: 80%;
        }
    }
}