@include media-breakpoint-up(xs) {
  .firstscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 40px 0;
    .b-button--style{
      color: #fff;
    }
  }
  .firstscreen-title{
    font-size: 1.75rem;
    text-align: center;
    font-weight: 700;
    width: 80%;
  } 
  .firstscreen-subtitle{
    font-size: 1.125rem;
    font-weight: 600;
  } 
  .firstscreen-img{
      width: 100%;
      text-align: center;
      img{
        width: 90%;
        position: relative;
      }
  }
  
}

@include media-breakpoint-down(xs) {

}