@include media-breakpoint-up(xs) {
  .button-main {
    width: 100%;
    z-index: 1;
    .b-button{
      background-color:  #FF352B;
      padding: 15px 0;
      border: none;
      width: 100%;
      font-size: 20px;
    }
  }

}

@include media-breakpoint-down(xs) {

}