.header
    .container 
        .header__wrap
                .header__logo 
                    .header__logo-text 
                        span Movee
                input(type="checkbox" id="hmt" ).header__menu-ticker
                ul.header__menu 
                    li 
                        a(href="#") Цены
                    li
                        a(href="#") Автопарк
                    li
                        a(href="#") Отзывы
                    li
                        a(href="#") Контакты
                label(for="hmt").header__menu-toggle.menu-toggle  
                    span.menu-toggle__item.first
                    span.menu-toggle__item.second
                    span.menu-toggle__item.three
                .header__contacts 
                    a(href="tel:+88000801213").header__contacts-tel 8(800)-080-12-13 
                