.catalog 
    .container 
        .row
            h2.catalog__title Каталог пульсометров 
            nav
                .catalog__tabs.nav.nav-tabs#nav-tab(role="tablist")
                        button#nav-home-tab.catalog__tab-btn.nav-link.active(data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true")  Для фитнеса
                        button#nav-profile-tab.catalog__tab-btn.nav-link(data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false") Для бега
                        button#nav-contact-tab.catalog__tab-btn.nav-link(data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false") Для триатлона
            #nav-tabContent.catalog__content-wrap.tab-content(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}')
                    #nav-home.catalog__content.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-home-tab")
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                form.feed-form(method="post" action="#")
                                    button.catalog__btn.button_red.btn.text-white Купить 

                        .catalog__item 
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text   
                                .catalog__item-title Пульсометр Polar FT2
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 

                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT3
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 

                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT4
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 

                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT5
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 

                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                            
                                .catalog__item-title Пульсометр Polar FT6
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                    #nav-profile.catalog__content.tab-pane.fade(role="tabpanel" aria-labelledby="nav-profile-tab")
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT7
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                        .catalog__item 
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text   
                                .catalog__item-title Пульсометр Polar FT8
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                    #nav-contact.catalog__content.tab-pane.fade(role="tabpanel" aria-labelledby="nav-contact-tab")
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                        .catalog__item 
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text   
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
                        .catalog__item
                            .catalog__item-img
                                img(src="img/catalog-img-1.png ", alt="", srcset="") 
                            .catalog__item-block_text
                                .catalog__item-title Пульсометр Polar FT1
                                .catalog__item-description Для первых шагов в тренировках, основанных на сердечном ритме
                                a(href="").catalog__item-description_link Подробнее
                            .catalog__item-block 
                                .price
                                    .price-old 4 750 руб.
                                    .price-new 4 500 руб.
                                button.catalog__btn.button_red.btn.text-white Купить 
