.faq#faq
    .container
            .faq__title
                h2.color-text FAQ
            .faq__subtitle Ответы на самые частые вопросы, которые задают нам клиенты 
            .faq__items-wrap
            .faq__items.glide
                            .glide__track(data-glide-el="track")
                                ul.faq__tabs.glide__slides.nav.nav-pills.mb-3(role="tablist")
                                    li.faq__item.glide-slide.nav-item
                                        button.nav-link.active#tab-one( data-bs-toggle="pill" data-bs-target="#tab-content-1" type="button" role="tab" aria-controls="tab-content-1" aria-selected="true")  Качество
                                    li.faq__item.glide-slide.nav-item
                                        button.nav-link#tab-two( data-bs-toggle="pill" data-bs-target="#tab-content-2" type="button" role="tab" aria-controls="tab-content-2" aria-selected="false") Оплата 
                                    li.faq__item.glide-slide.nav-item
                                        button.nav-link#tab-three( data-bs-toggle="pill" data-bs-target="#tab-content-3" type="button" role="tab" aria-controls="tab-content-3" aria-selected="false") Доставка 
                                    li.faq__item.glide-slide.nav-item
                                        button.nav-link#tab-four( data-bs-toggle="pill" data-bs-target="#tab-content-4" type="button" role="tab" aria-controls="tab-content-4" aria-selected="false") Хранение 
                            .glide__arrows(data-glide-el="controls")
                                button.glide__arrow.glide__arrow--left(data-glide-dir="<")
                                button.glide__arrow.glide__arrow--right(data-glide-dir=">")
            .tab-content#nav-tabContent
                .tab-pane.fade.show.active#tab-content-1(role="tabpanel" aria-labelledby="tab-one")
                    .faq__question-block
                        .faq__question 
                            span Кто готовит обеды?
                        .faq__answer У нас свое производство. Находимся в Москве, метро Дубровка. Площадь производства — 600 кв.м.
                    .faq__question-block
                        .faq__question 
                            span Есть ли у сотрудников мед.книжки и сертификаты?
                        .faq__answer Конечно есть и не одна
                    .faq__question-block
                        .faq__question 
                            span Когда вы готовите обеды?
                        .faq__answer Когда есть хотим
                    .faq__question-block
                        .faq__question 
                            span Сытные ли порции?
                        .faq__answer Живым не уйдёшь
                    .faq__question-block
                        .faq__question 
                            span Вкусно ли готовят?
                        .faq__answer Вкуснее только твоя мамка готовит
                    .faq__question-block
                        .faq__question 
                            span Можно ли посмотреть производство?
                        .faq__answer Ты можешь даже там побывать
                    .faq__question-block
                        .faq__question 
                            span Есть ли у вас мусульманское меню?
                        .faq__answer Мы за чистоту расы 
                .tab-pane.fade#tab-content-2(role="tabpanel" aria-labelledby="tab-two")
                    .faq__question-block
                        .faq__question 
                            span Кто готовит обеды?
                        .faq__answer У нас свое производство. Находимся в Москве, метро Дубровка. Площадь производства — 600 кв.м.
                    .faq__question-block
                        .faq__question 
                            span Есть ли у сотрудников мед.книжки и сертификаты?
                        .faq__answer Конечно есть и не одна
                    .faq__question-block
                        .faq__question 
                            span Когда вы готовите обеды?
                        .faq__answer Когда есть хотим
                    .faq__question-block
                        .faq__question 
                            span Сытные ли порции?
                        .faq__answer Живым не уйдёшь
                    .faq__question-block
                        .faq__question 
                            span Вкусно ли готовят?
                        .faq__answer Вкуснее только твоя мамка готовит
                    .faq__question-block
                        .faq__question 
                            span Можно ли посмотреть производство?
                        .faq__answer Ты можешь даже там побывать
                    .faq__question-block
                        .faq__question 
                            span Есть ли у вас мусульманское меню?
                        .faq__answer Мы за чистоту расы 
                .tab-pane.fade#tab-content-3(role="tabpanel" aria-labelledby="tab-three")
                    .faq__question-block
                        .faq__question 
                            span Кто готовит обеды?
                        .faq__answer У нас свое производство. Находимся в Москве, метро Дубровка. Площадь производства — 600 кв.м.
                    .faq__question-block
                        .faq__question 
                            span Есть ли у сотрудников мед.книжки и сертификаты?
                        .faq__answer Конечно есть и не одна
                    .faq__question-block
                        .faq__question 
                            span Когда вы готовите обеды?
                        .faq__answer Когда есть хотим
                    .faq__question-block
                        .faq__question 
                            span Сытные ли порции?
                        .faq__answer Живым не уйдёшь
                    .faq__question-block
                        .faq__question 
                            span Вкусно ли готовят?
                        .faq__answer Вкуснее только твоя мамка готовит
                    .faq__question-block
                        .faq__question 
                            span Можно ли посмотреть производство?
                        .faq__answer Ты можешь даже там побывать
                    .faq__question-block
                        .faq__question 
                            span Есть ли у вас мусульманское меню?
                        .faq__answer Мы за чистоту расы 
                .tab-pane.fade#tab-content-4(role="tabpanel" aria-labelledby="tab-four")
                    .faq__question-block
                        .faq__question-block
                        .faq__question 
                            span Кто готовит обеды?
                        .faq__answer У нас свое производство. Находимся в Москве, метро Дубровка. Площадь производства — 600 кв.м.
                    .faq__question-block
                        .faq__question 
                            span Есть ли у сотрудников мед.книжки и сертификаты?
                        .faq__answer Конечно есть и не одна
                    .faq__question-block
                        .faq__question 
                            span Когда вы готовите обеды?
                        .faq__answer Когда есть хотим
                    .faq__question-block
                        .faq__question 
                            span Сытные ли порции?
                        .faq__answer Живым не уйдёшь
                    .faq__question-block
                        .faq__question 
                            span Вкусно ли готовят?
                        .faq__answer Вкуснее только твоя мамка готовит
                    .faq__question-block
                        .faq__question 
                            span Можно ли посмотреть производство?
                        .faq__answer Ты можешь даже там побывать
                    .faq__question-block
                        .faq__question 
                            span Есть ли у вас мусульманское меню?
                        .faq__answer Мы за чистоту расы 
                    
