@include media-breakpoint-up(md) {
    .reviews {
        .container {
            max-width: 100%;
            padding-right: 1rem;
            padding-left: 1rem;
        }

        &__wrap {
            padding: 53px 40px;
        }

        &__clients {
            gap: 10px;
        }

        &__content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 0px 10px;
        }


        &__content-left {
            width: 50%;
        }

        &__content-right {
            width: 50%;
        }

        &__image {
            padding: 0 0 0 20px;
        }
        &__subtitle{
            font-size: 20px;
        }
        &__subtitle,
        &__title {
            padding: 0;
        }

        &__title {
            margin: 0 0 50px 0;
        }

        .glide__track {
            overflow: visible;
        }

        &__video {
            margin: 40px 0;
            padding: 0;

            .glide__slides.glide__slides {
                display: flex;
                overflow: visible;
                justify-content: space-between;
                gap: 0px 20px;
            }
        }

        &__video-item {
            flex-shrink: 1;

        }

        .glide__slides, .glide__track{
            margin: 0 0 0 0;
        }
    }
}