.process
    .container
        h2.process__title Как это происходит? 
        .process__items 
            .process__item
                span.process__item-num 01 
                .process__item-text
                    p.process__item-title Оценка объема предстоящих работ
                    p.process__item-desc Стоимость переезда зависит от количества комнат, вещей и мебели. 
            .process__item
                span.process__item-num 02
                .process__item-text
                    p.process__item-title Упаковка вещей
                    p.process__item-desc Упаковываем вещи в коробки, подписываем. Габаритное и деликатное,  упаковываем отдельно. 
            .process__item
                span.process__item-num 03
                .process__item-text
                    p.process__item-title Погрузка и транспортировка вещей
                    p.process__item-desc В нашем автопарке имеются машины, подходящие для мебели любых габаритов.
            .process__item
                span.process__item-num 04
                .process__item-text   
                    p.process__item-title Распаковка и расстановка мебели
                    p.process__item-desc Опытные грузчики быстро расставят мебель и уберут мусор от распаковки.
