@include media-breakpoint-up(sm) {
    .contacts {
        .contacts-decor__img {
            &:after {
                right: 0px;
            }
        }

        &__item {
            &:nth-child(1) {
                width: 40%;
            }

            &:nth-child(2) {
                width: 60%;
            }
        }
    }
}
