.contacts#contacts
    .container 
        .row 
            .contacts__block.col-md-7.offset-md-5.col-lg-7.offset-lg-5.col-xl-5.offset-xl-7.col-xxl-5.offset-xxl-7
                .contacts__title 
                    h2 Наши 
                        span.color-text  контакты
                ul.contacts__tabs.glide__slides.nav.nav-pills.mb-3(role="tablist")
                    li.contacts__item.glide-slide.nav-item
                        button.nav-link.active#tab-contact-one( data-bs-toggle="pill" data-bs-target="#content-office" type="button" role="tab" aria-controls="content-office" aria-selected="true")  Офис
                    li.contacts__item.glide-slide.nav-item
                        button.nav-link#tab-contact-two( data-bs-toggle="pill" data-bs-target="#content-production" type="button" role="tab" aria-controls="content-production" aria-selected="false") Производство
                .tab-content
                        .tab-pane.fade.show.active#content-office(role="tabpanel" aria-labelledby="tab-contact-one")
                            .contacts__adress.soc-link Минск, ул. Нарочанская, офис 4
                            .contacts__tel.soc-link      +7 (945) 754 27 62
                            .contacts__email.soc-link hi.kitchen@gmail.com
                        .tab-pane.fade#content-production(role="tabpanel" aria-labelledby="tab-contact-two") 
                                .contacts__adress.soc-link Киров, ул. Нагорная, офис 9
                                .contacts__tel.soc-link      +7 (945) 754 27 62
                                .contacts__email.soc-link hi.kitchen@gmail.com
                .contacts__soc.soc-link
                            .soc-inst
                                img(src="images/instagram.svg" alt="inst-link")
                            .soc-vk 
                                img(src="images/vk.svg" alt="vk-link")
                            .soc-fs
                                img(src="images/facebook.svg" alt="fb-link")
                .contacts-decor__img    