.prices
    .container
            h2.prices__title  Цены
            p.prices__subtitle Фиксированная стоимость на переезд под ключ  
            .prices__items.row
                    .col-md-4.prices__item
                        .prices__item-inner
                            p.prices__item-title 1-комнатная кв-ра
                            .prices__item-main  
                                p 1 фургон
                                p 2 грузчика
                                p Переезд за 4 часа 
                            p.prices__item-price  8 490₽   
                            include ../button-main/button-main
                                |Заказать 
                    .col-md-4.prices__item
                        .prices__item-inner
                            p.prices__item-title 2-комнатная кв-ра 
                            .prices__item-main  
                                p 1 газель - 3 метра 
                                p 2 грузчика
                                p Переезд за 4 часа  
                            p.prices__item-price  10 990₽   
                            include ../button-main/button-main
                                |Заказать  
                    .col-md-4.prices__item
                        .prices__item-inner
                            p.prices__item-title 3-комнатная кв-ра
                            .prices__item-main  
                                p 1 газель - 4 метра
                                p 2 грузчика
                                p Переезд за 4 часа  
                            p.prices__item-price 16 490₽
                            include ../button-main/button-main
                                |Заказать   
                    .prices__item-xs-more    
                            span Все цены
