@include media-breakpoint-up(xl) {
    .interview-form {
        max-width: 1192px;
        padding: 62px 0 77px;

        &_button {
            margin: 37px 0 0;
        }

        &_title {
            margin-bottom: 18px;
            font-size: 30px;
        }

        &__content {
            &:before {
                right: 80%;
                bottom: -18%;
                width: 91%;
                height: 120%;
                background-position: 0 0;
                background-size: 81%;
            }
        }
        .interview-form_button .button-calculate {
            width: 60%;
        }
    }
}