@include media-breakpoint-up(xs) {
    .button-calculate {
        margin: 30px auto 0 auto;
        padding: 20px 30px;
        color: #fff;
        border: none;
        border-radius: 30%;
        border-radius: 90px;
        background-color: $orange;
        box-shadow: 0 0 20px rgba(241, 90, 36, 0.5);
        font-weight: 700;
        font-size: 18px;
        position: relative;
        z-index: 5;
        &:hover{
            background: linear-gradient(180deg, #FF713E 0%, #DE4E1B 100%);
            box-shadow: 0 0 20px rgba(241, 90, 36, .7);
        }
    }
}
