@include media-breakpoint-up(xl) {
  .packages {
    .package-decor__img{
      position: absolute;
      width: 270px;
      height: 270px;
      right:0px;
      top:-180px;
      overflow: hidden;
     
      &:before{
       
        background: url("/decor-image/decore-10.png") no-repeat  25px 0px;
        background-size: 100%;

      }
  }
  	.container, .container-xl{
      max-width: 1140px;
    }
    &__item{
    	padding: 49px 20px 50px;
    }
    &__item-button .button-calculate{
    	padding: 1em 4em;
    }
  }
}