.overlay#consulting
    .modal-b
        .modal-b__close &times 
        .modal-b__subtitle.text-black Просто заполните форму заявки
        .modal-b__descr.text-black и мы перезвоним вам в течении 10 минут
        form.feed-form( method="post" action="#")
                    input(name="name"  placeholder="Ваше имя")
                    input(name="phone" placeholder="Ваш телефон")
                    input(name="email" placeholder="Ваш E-mail") 
                    button#btn.button_red.text-white Заказать консультацию
.overlay#order
    .modal-b
        .modal-b__close &times 
        .modal-b__subtitle.text-black Ваш заказ:
        .modal-b__descr.text-black 
        form.feed-form(method="post" action="#")
                    input(name="name"       placeholder="Ваше имя")
                    input(name="phone"   placeholder="Ваш телефон")
                    input(name="email"   placeholder="Ваш E-mail") 
                    button#btn.button_red.text-white Купить
.overlay#thanks.thanks
    .modal-b
        .modal-b__close &times 
        .modal-b__subtitle.text-black Спасибо за вашу заявку!
        .modal-b__descr.text-black Наш менеджер свяжется с вами в ближайшее время!
