@include media-breakpoint-up(lg) {
    .interview-form {
        max-width: 848px;
        margin: 150px auto 0;

        &__content {
            max-width: 54%;
            margin-left: 37%;

            &:before {
                right: 80%;
                bottom: -11%;
                width: 91%;
                height: 108%;
                content: '';
                background-position: 0 0;
                background-size: 83%;
            }
        }
        .interview-form .interview-form__button .button-calculate {
            width: 60%;
        }
    }
}
