@include media-breakpoint-up(sm) {
    .firstscreen {
        background-position: 12em -2em,25em 8em;
        padding: 80px 0 0;
        margin: 0;
        .button-calculate{
            margin:50px 0 0 0;
        }
        .advantages{
            margin: 130px 0 0 0px;
           

        }
        &__item {
            min-width: 185px;
            min-height: 263px;
           
        }
    }
}