mixin itemMenu()
        a.header__nav-link(href='#select') Почему мы ? 
        a.header__nav-link(href='#packages') Пакеты
        a.header__nav-link(href='#kitchen-menu') Меню
        a.header__nav-link(href='#faq') FAQ 
        a.header__nav-link(href='#contacts') Контакты

header.header
    .container
            .row 
                .header__wrap
                    a.header__logo.logo(href='/')
                        .header__logo-text  the 
                        .header__logo-text.logo-color кухня
                        .header__logo-text оператор питания 
                    .header__nav-inner.col-lg-8.col-xl-9.col-xxl-9
                            .header__tel.col-xl-3
                                a(href="tel:+79457542762") +7 (945)754 2762
                            nav.header__nav.desktop-menu.col-xl-7.col-xxl-7
                                +itemMenu()       
                    a(href="#").mobile-menu__toggle
                        span.menu-item
                        span.menu-item
                        span.menu-item
                nav.header__nav.small-menu.col-sm-10
                    +itemMenu()
    nav.header__nav.mobile-menu
                .mobile-menu__wrap   
                    +itemMenu()