@include media-breakpoint-up(xl) {
  .contacts {
    font-size: 20px;
  
    &__block {

          &:after{
            top: -163px;
            right: -92px;
            width: 338px;
            height: 307px;
              
          }

  }
  }
}