header
    .row  
        .logo.col-xl-4.col-lg-4.col-md-4.col-sm-4.col-6
            .logo__wrap
                div.text-white RunSmart
                div.text-white бегай легко - укрепляй здоровье
        .official.col-xl-4.col-lg-4.col-md-4.col-sm-5
            div.text-white Официальный представитель  
            div.text-white Garmin, Polar, Suunto
        .block-tel.col-xl-4.col-lg-4.col-md-4.col-sm-3.col-6
            .block-tel__num
                div(tel="74999228924").text-white +7 (499) 922-89-24
            .block-tel__button.button
                button.block-tel__button_text.button_red.text-white(data-modal = 'consultation') Заказать звонок
