@include media-breakpoint-up(xs) {
  .footer {
      .desktop-menu {
          display: none;
      }
      a {
          text-decoration: none;
      }

      &__wrap {
          @extend %flex-row-between;
          padding: 35px 15px;
          margin: 10px 0 0 0;
      }

      &__logo {
          position: relative;
          align-self: flex-start;
          text-decoration: none;
          color: #808080;
          font-size: 15px;
          @extend %flex-column-around;

          &:hover {
              color: #808080;
          }
      }

      &__logo-text {
          vertical-align: baseline;
          font-size: 13px;
          line-height: 1em;
      }
      &__politic {
        display: none;
      }
      .footer__nav-link {
          color: #111;
          font-size: 18px;
      }

      .logo-color {
          position: relative;
          top: -2px;
          margin: 0 0 5px 0;
          color: $orange;
          font-size: 24px;
          font-weight: 700;

          &:hover {
              color: $orange;
          }

          &:after {
              position: absolute;
              top: -7px;
              right: 15px;
              width: 32px;
              height: 32px;
              content: '';
              background-image: url("thumb.svg");
              background-repeat: no-repeat;
              background-size: 32px 32px;
          }
      }
      &__nav{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
      }
      &__tel {
          display: none;
      }

      

  }
}

@include media-breakpoint-down(xs) {}