.main-slider
		.main-slider-decor__img
		.container
			h2.main-slider__title 
				span Условия 
				| приготовления и 
				span стандарты 
				| качества
			.main-slider__subtitle Мы следим за чистотой на кухне и имеем все необходимые сертификаты
			.main-slider__document.col-xl-10
				.document__item-block
					a(href="#").document__item-link
						span Документ 
				.document__item-block
					a(href="#").document__item-link
						span Документ              
				.document__item-block
					a(href="#").document__item-link
						span Документ
				.document__item-block
					a(href="#").document__item-link
						span Документ
		.glide.slider
			.glide__track(data-glide-el="track")
				ul.glide__slides
					li.glide__slide
						img(src="images/slider-img.png" alt="слайд-1")
					li.glide__slide
						img(src="images/slider-img.png" alt="слайд-2")
					li.glide__slide
						img(src="images/slider-img.png" alt="слайд-3")
					li.glide__slide
						img(src="images/slider-img.png" alt="слайд-4")
					li.glide__slide
						img(src="images/slider-img.png" alt="слайд-5")
					li.glide__slide
						img(src="images/slider-img.png" alt="слайд-6")
			.glide__arrows(data-glide-el="controls")
				button.glide__arrow.glide__arrow--left( data-glide-dir="<") 
					svg(width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg").glide__arrow-svg
						path(d="M1.125 19.5H30.875" stroke="white" stroke-linecap="round" stroke-linejoin="round")
						path(d="M19.5 8.125L30.875 19.5L19.5 30.875" stroke="white" stroke-linecap="round" stroke-linejoin="round")
				button.glide__arrow.glide__arrow--right( data-glide-dir=">") 
					svg(width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg").glide__arrow-svg
						path(d="M1.125 19.5H30.875" stroke="white" stroke-linecap="round" stroke-linejoin="round")
						path(d="M19.5 8.125L30.875 19.5L19.5 30.875" stroke="white" stroke-linecap="round" stroke-linejoin="round")
			.glide__bullets(data-glide-el="controls[nav]")
				button.glide__bullet(data-glide-dir="=0")
				button.glide__bullet(data-glide-dir="=1")
				button.glide__bullet(data-glide-dir="=2")
				button.glide__bullet(data-glide-dir="=3")
				button.glide__bullet(data-glide-dir="=4")
				button.glide__bullet(data-glide-dir="=5")