
.slider 
    .container 
        .row
            .slides.col-md-10.col-sm-10.col-xs-10
                .slide 
                    img(src="img/slide-1.png", alt="", srcset="")
                .slide 
                    img(src="img/slide-2.png", alt="")
                .slide 
                    img(src="img/slide-3.png", alt="")
                .slide 
                    img(src="img/slide-2.png", alt="")
                .slide
                    img(src="img/slide-3.png", alt="")
