.reviews
    .container
        .reviews__wrap
            .reviews__content
                .reviews__content-left
                    h2.reviews__title Нам 
                        span доверяют
                    .reviews__subtitle Работаем как с небольшими бригадами, так и с крупными объектами до 1 000 человек
                    nav
                        .reviews__clients.nav.nav-tabs#nav-tab(role="tablist")
                            button.client-item.nav-link.active#tab-client1( data-bs-toggle="tab" data-bs-target="#reviews__image1" type="button" role="tab" aria-controls="reviews__image1" aria-selected="true")
                                img.image-client(src="images/client1.svg", alt="")
                            button.client-item.nav-link#tab-client2( data-bs-toggle="tab" data-bs-target="#reviews__image2" type="button" role="tab" aria-controls="reviews__image2" aria-selected="false")
                                img.image-client(src="images/client2.svg", alt="")
                            button.client-item.nav-link#tab-client3( data-bs-toggle="tab" data-bs-target="#reviews__image3" type="button" role="tab" aria-controls="reviews__image3" aria-selected="false")
                                img.image-client(src="images/client3.svg", alt="")
                            button.client-item.nav-link#tab-client4( data-bs-toggle="tab" data-bs-target="#reviews__image4" type="button" role="tab" aria-controls="reviews__image4" aria-selected="false")
                                img.image-client(src="images/client4.svg", alt="")
                            button.client-item.nav-link#tab-client5( data-bs-toggle="tab" data-bs-target="#reviews__image5" type="button" role="tab" aria-controls="reviews__image5" aria-selected="false")
                                img.image-client(src="images/client5.svg", alt="")
                            button.client-item.nav-link#tab-client6( data-bs-toggle="tab" data-bs-target="#reviews__image6" type="button" role="tab" aria-controls="reviews__image6" aria-selected="false")
                                img.image-client(src="images/client6.svg", alt="")
                            button.client-item.nav-link#tab-client7( data-bs-toggle="tab" data-bs-target="#reviews__image7" type="button" role="tab" aria-controls="reviews__image7" aria-selected="false")
                                img.image-client(src="images/client7.svg", alt="")
                            button.client-item.nav-link#tab-client8( data-bs-toggle="tab" data-bs-target="#reviews__image7" type="button" role="tab" aria-controls="reviews__image8" aria-selected="false")
                                img.image-client(src="images/client8.svg", alt="")
                .reviews__content-right.tab-content
                                    .reviews__image.tab-pane.fade.show.active#reviews__image1(role="tabpanel" aria-labelledby="tab-client1")
                                                img(src="images/review.png", alt="Клиент-1")
                                    .reviews__image.tab-pane.fade#reviews__image2(role="tabpanel" aria-labelledby="tab-client2")
                                                img(src="images/reviews-image2.jpg", alt="Клиент-1")
                                    .reviews__image.tab-pane.fade#reviews__image3(role="tabpanel" aria-labelledby="tab-client3")
                                                img(src="images/review.png", alt="Клиент-2")
                                    .reviews__image.tab-pane.fade#reviews__image4(role="tabpanel" aria-labelledby="tab-client4")
                                                img(src="images/review.png", alt="Клиент-3")
                                    .reviews__image.tab-pane.fade#reviews__image5(role="tabpanel" aria-labelledby="tab-client5")
                                                img(src="images/review.png", alt="Клиент-4")
                                    .reviews__image.tab-pane.fade#reviews__image6(role="tabpanel" aria-labelledby="tab-client6")
                                                img(src="images/review.png", alt="Клиент-5")
                                    .reviews__image.tab-pane.fade#reviews__image7(role="tabpanel" aria-labelledby="tab-client7")
                                                img(src="images/review.png", alt="Клиент-6")
                                    .reviews__image.tab-pane.fade#reviews__image8(role="tabpanel" aria-labelledby="tab-client8")
                                                img(src="images/review.png", alt="Клиент-7")           
            .reviews__video.glide
                .glide__track(data-glide-el="track")
                    ul.glide__slides
                        li.glide__slide.reviews__video-item
                                img(src="images/reviews-1.png", alt="Отзыв 1")
                                a(href="https://youtu.be/OxKgE7npEPE" ).button-play
                                    .button-play__icon
                                        svg(width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg").button-play__svg
                                            path(d="M26.5474 16.1931C27.1876 16.5827 27.1876 17.512 26.5474 17.9016L1.72103 33.0099C1.05463 33.4155 0.201167 32.9358 0.201167 32.1557L0.201168 1.93904C0.201168 1.15894 1.05463 0.679249 1.72103 1.08479L26.5474 16.1931Z" fill="white")
                        li.glide__slide.reviews__video-item
                                img(src="images/reviews-2.png", alt="Отзыв 2")
                                a(href="https://youtu.be/OxKgE7npEPE" ).button-play
                                    .button-play__icon
                                        svg(width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg").button-play__svg
                                            path(d="M26.5474 16.1931C27.1876 16.5827 27.1876 17.512 26.5474 17.9016L1.72103 33.0099C1.05463 33.4155 0.201167 32.9358 0.201167 32.1557L0.201168 1.93904C0.201168 1.15894 1.05463 0.679249 1.72103 1.08479L26.5474 16.1931Z" fill="white")
                        li.glide__slide.reviews__video-item
                                img(src="images/reviews-3.png", alt="Отзыв 3")
                                a(href="https://youtu.be/OxKgE7npEPE" ).button-play
                                    .button-play__icon
                                        svg(width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg").button-play__svg
                                            path(d="M26.5474 16.1931C27.1876 16.5827 27.1876 17.512 26.5474 17.9016L1.72103 33.0099C1.05463 33.4155 0.201167 32.9358 0.201167 32.1557L0.201168 1.93904C0.201168 1.15894 1.05463 0.679249 1.72103 1.08479L26.5474 16.1931Z" fill="white")
                        li.glide__slide.reviews__video-item
                                img(src="images/reviews-4.png", alt="Отзыв 4")
                                a(href="https://youtu.be/OxKgE7npEPE" ).button-play
                                    .button-play__icon
                                        svg(width="28" height="34" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg").button-play__svg
                                            path(d="M26.5474 16.1931C27.1876 16.5827 27.1876 17.512 26.5474 17.9016L1.72103 33.0099C1.05463 33.4155 0.201167 32.9358 0.201167 32.1557L0.201168 1.93904C0.201168 1.15894 1.05463 0.679249 1.72103 1.08479L26.5474 16.1931Z" fill="white")

