@include media-breakpoint-up(xl) {
    .faq {

        .tab-content {
            padding: 30px 50px;
        }
        .faq__question{
            font-size: 20px;
        }
        .faq__item {
            &:nth-child(1) {
                .nav-link {
                    position: relative;

                    &:before {
                        position: absolute;
                        top: 4px;
                        left: 32px;
                        width: 100px;
                        height: 72px;
                        content: '';
                        background: url("faq-icon1.png") no-repeat;
                        background-size: 91%;
                    }
                }
            }

            &:nth-child(2) {
                .nav-link {
                    position: relative;

                    &:before {
                        position: absolute;
                        top: 12px;
                        left: 63px;
                        width: 96px;
                        height: 72px;
                        content: '';
                        background: url("faq-icon2.png") no-repeat;
                        background-size: 77%;
                    }
                }
            }

            &:nth-child(3) {
                .nav-link {
                    position: relative;

                    &:before {
                        position: absolute;
                        top: 20px;
                        left: 30px;
                        width: 100px;
                        height: 72px;
                        content: '';
                        background: url("faq-icon3.png") no-repeat;
                        background-size: 91%;
                    }
                }
            }

            &:nth-child(4) {
                .nav-link {
                    position: relative;

                    &:before {
                        position: absolute;
                        top: 4px;
                        left: 55px;
                        width: 100px;
                        height: 72px;
                        content: '';
                        background: url("faq-icon4.png") no-repeat;
                        background-size: 69%;
                    }
                }
            }

            .nav-link {
                width: 100%;
                padding: 25px 40px 25px 70px;
                text-align: right;
            }
        }
    }
}
