@include media-breakpoint-up(xs) {
    .interview-form {
        margin: 88px 0 0;
        position: relative;
        padding: 44px 0px 44px 0px;
        box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.08);
        font-size: 18px;
        z-index: 1;
        &__title {
            line-height: 1.5em;
            font-weight: 600;     
            padding: 0 4px 0 2px;

        }

        &__img {
            margin: 28px 0px 28px -5px;
        }

        &__desc {
            width: 60%;
            @extend %flex-column-between;
            .color-text{
                font-weight: 600 ;
            }
            
         
        }

        &__plus {
            position: relative;
            left: 15px;
            width: 2px;
            height: 14px;
            margin: 5px 0;
            border-radius: 1px;
            background: #111;

            &:after {
                position: absolute;
                top: 6px;
                left: -6px;
                width: 14px;
                height: 2px;
                content: "";
                border-radius: 1px;
                background: #111;
            }
        }

        &__button {
            display: flex;
            .button-calculate{
                margin: 30px 0 0;
                width: 100%;
            }
        }

        .text-menu {
            display: none;
        }
    }
}

@include media-breakpoint-down(xs) {}