.firstscreen__main
    .firstscreen__main-title 
        p Квартирные переезды 
    .firstscreen__main-subtitle
        span По Москве и области
    .firstscreen__main-img  
        img(src="../images/human.png", alt="")   
    include ../button-main/button-main
            |Заказать 
