.reviews 
    .container 
        .row    
            h2.reviews__title  отзывы клиентов
            .reviews__wrap
                .reviews__item 
                    .photo-people 
                        img(src="/img/review__ph-1.png", alt="")
                    .review.review__text-block.col-xl-9.col-lg-9.col-md-9  
                        .review__title Ирина Иванченко 
                        .review__subtitle 2 полумарафона
                        .review__description     Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности.Через некоторое время решила обновить гаджет - не раздумывая обратилась туда же.Новые цели - новый гаджет! Спасибо, RunSmart! 
                .reviews__item
                    .photo-people 
                        img(src="/img/review__ph-2.png", alt="")
                    .review.review__text-block.col-xl-9.col-lg-9.col-md-9   
                        .review__title Иван Сёмочкин
                        .review__subtitle 1 полумарафон
                        .review__description        Крутая штука-пульсометр. Обычно без них бегал. Оказывается только хуже себе делал. <br> Купил пульсометр, ещё в подарок получил тренировку. Со мной вместе провели первую тренировку, научили пользоваться новым гаджетом. Также объяснили основы анатомии, составили план тренировок на месяц вперёд. <br> С ними подготовился к своему первому полумарафону! Спасибо!!!          
                .reviews__item 
                    .photo-people 
                        img(src="/img/review__ph-3.png", alt="")
                    .review.review__text-block.col-xl-9.col-lg-9.col-md-9   
                        .review__title Юлия Дашкина
                        .review__subtitle 2 полумарафона
                        .review__description    Долго не могла начать бегать, т.к. до этого несколько раз начинала, но становилось тяжело и я бросала. От друзей услышала о RunSmart и о беге с контролем пульса и решила попробовать. <br> Позвонила, ребята поинтересовались моими целями и подобрали очень интересный вариант со скидкой! Теперь бегаю и наслаждаюсь бегом! Пробежала уже 2 полумарафона и несколько более коротких забегов и не намерена останавливаться! <br>Спасибо!!!             
        