@include media-breakpoint-up(xl) {
    .select {
        .select-decor__img{
            width: 727px;
            height: 718px;
            position: absolute;
            overflow: hidden;
            bottom: -84%;

            &:after{
                background-size: 228%;
                right: -74%;
                bottom: 24%;
                background-position: -470px -276px;
            }
        } 
        &__item {
            &:nth-child(1) {
                padding: 10px 40px 20px;

                .select__item-desc {
                    padding: 0 0 20px 20px;
                }

                &:after {
                    top: -25px;
                    left: 25px;
                }
            }

            &:nth-child(2) {
                padding: 10px 40px 20px;

                .select__item-desc {
                    padding: 0 0 15px 30px;
                }

                &:after {
                    bottom: -5px;
                    left: 35px;
                }
            }

            &:nth-child(3) {
                padding: 20px 50px 20px;

                .select__item-desc {
                    padding: 0 0 0 40px;
                }

                &:after {
                    top: -20px;
                    left: 50px;
                }
            }

            &:nth-child(4) {
                padding: 10px 50px 20px;
                .select__item-img {
                    width: 80%;
                }
                .select__item-desc {
                    padding: 10px 0 0 30px;
                }

                &:after {
                    bottom: -30px;
                    left: 40px;
                }
            }
        }
    }
}
