@include media-breakpoint-up(xs) {
    .wrapper{
      position: fixed;
      width: 100%;
      height: 100%;
      top:0;
      background-color: rgba(0,0,0, .56);
      display: none;
      z-index: 999;
    }
    .thanks-modal__close {
        position: absolute;
        top: -33px;
        right: -7px;
        cursor: pointer;
        color: #fff;
        font-size: 61px;
        line-height: 21px;
        top: -25px;
        width: 54px;
        right: -14px;
        height: 40px;
        padding: 0 10px;
    }
    .modal {
        position: absolute;
        top:50%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        padding: 25px 15px 40px 15px;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
        &__close {
            position: absolute;
            top: -33px;
            right: -7px;
            cursor: pointer;
            color: #fff;
            font-size: 61px;
            line-height: 21px;
            top: -25px;
            width: 54px;
            right: -14px;
            height: 40px;
            padding: 0 10px;
        }

        &__wrap {
            position: relative;
            margin: 60px 0 0 0;
            border-radius: 15px;
            box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);

            &:before {
                position: absolute;
                z-index: 999;
                right: -63px;
                bottom: -56px;
                width: 300px;
                height: 236px;
                content: '';
                background: url("image-1.png") no-repeat center;
                background-size: 100%;
            }
        }

      

        .input__tel {
            width: 100%;
            padding: 20px 20px;
            border: none;
            border-radius: 40px;
            background: #FAFAFA;
            box-shadow: inset 1px 4px 6px rgba(0, 0, 0, 0.06);
        }

        .overlay-people,
        .overlay-city {
            &__wrap {
                position: relative;
                margin: 60px 0 0 0;
                border-radius: 15px;
                box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
            }

            &__content {
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                border-radius: 15px;
                background-color: #fff;
            }
        }

        .progress {
            height: 15px;
            padding: 5px 5px;
            background: #FAFAFA;
            box-shadow: inset 1px 4px 6px rgba(0, 0, 0, 0.06);
        }

        .progress-bar {
            border-radius: 50px;
            background-color: $orange;
            box-shadow: 0 0 10px rgba(241, 90, 36, .5)
        }

        .progress-text {
            color: #C4C4C4;
            font-size: 16px;
        }

        .progress-procent {
            color: $orange;
        }

    .msf-view {
        display: none;

        .overlay-title {
            margin: 0 0 40px 0;

        }
    }

    .overlay-push {
        position: relative;
        label{
            font-size: 16px;
        }
        &:after {
            position: absolute;
            bottom: -12em;
            right: -2em;
            width: 195px;
            height: 133px;
            content: '';
            background: url('image-1.png') no-repeat center;
            background-size: 122%;
        }
    }

    .overlay-people input {
        margin: 0 0 65px 0;
        padding: 25px 0 25px 30px;
        border: none;
        border-radius: 40px;
        background: #FAFAFA;
        box-shadow: inset 1px 4px 6px rgba(0, 0, 0, 0.06);

        &::placeholder {
            color: #C4C4C4;
            font-size: 16px;
        }
    }

    .msf-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 45px 0 40px 0;
        text-align: center;

        .button-calculate {
            margin: 0;
            padding: 20px 65px;
        }

        .msf-nav-button[data-type="back"] {
            width: 60px;
            height: 60px;
            border: 1px solid $orange;
            border-radius: 100%;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(241, 90, 36, .2);
            &:hover{
                box-shadow: 0 0 20px rgba(241, 90, 36, .4);
            }

            svg {
                dominant-baseline: central;

                path {
                    stroke: $orange;
                }
            }
        }

        .msf-nav-button[data-type="далее"] {
            width: 70%;
            padding: 20px 30px;
            color: #fff;
            border: none;
            border-radius: 30%;
            border-radius: 90px;
            background-color: $orange;
            box-shadow: 0 0 20px rgba(241, 90, 36, 0.5);
            font-weight: 700;
        }

        .button-false {
            width: 60px;
            height: 60px;
            border: 1px solid #C4C4C4;
            border-radius: 100%;
            box-shadow: 0 0 20px rgba(241, 90, 36, .2);

            svg {
                dominant-baseline: central;
            }
        }
    }

    .msf-nav-button {
        display: none;
    }

    .msf-content {
        margin: 0 0 20px;
    }

    .msf-header {
        margin-bottom: 0px;
        padding-top: 10px;
        color: #777;
    }



    .msf-header .msf-step:hover {
        cursor: pointer;
    }

  

    .msf-header .msf-step.msf-step-complete {
        /*color: #ef4035;*/
        color: green;
    }

    .msf-header .msf-step.msf-step-complete i.fa {
        /*border-color : #ef4035;*/
        border-color: green;
    }

    .msf-header .msf-step.msf-step-incomplete {
        /*color: #ef4035;*/
        color: red;
    }

    .msf-header .msf-step.msf-step-incomplete i.fa {
        /*border-color : #ef4035;*/
        border-color: red;
    }

    .msf-header .msf-step.msf-step-active,
    .msf-header .msf-step.msf-step-active.msf-step-complete,
    .msf-header .msf-step.msf-step-active.msf-step-incomplete {
        color: blue;
        /*color:#3c763d;*/
    }

    .msf-header .msf-step.msf-step-active i.fa,
    .msf-header .msf-step.msf-step-active.msf-step-complete i.fa,
    .msf-header .msf-step.msf-step-active.msf-step-incomplete i.fa {
        border-color: blue;
        /*border-color : #3c763d;*/
    }

    .sr-only {
        display: block;
        margin: 0 0 15px 0;
    }

   
    .form-group{
        position: relative;
    .input__tel{
        width: 100%;
      }
    #name,.input__tel,  .form_radio{
        padding: 20px 0 20px 30px;
      }
      
    }
    .form_radio {
        width: 100%;
        margin: 0 0 20px 0;
    
        border-radius: 40px;
        background-color: #FAFAFA;
        box-shadow: inset 1px 4px 6px rgba(0, 0, 0, 0.06);

        input {
            position: absolute;
            outline: none;
            -webkit-appearance: none;
            /* Chrome */
            -moz-appearance: none;
            /* Firefox */
            appearance: none;
            /* убираем стандартные кружочки */
        }

        label {
            position: relative;
            display: inline-block;
            padding-left: 35px;
            cursor: pointer;
            font-size: 15px;
        }

        label:before {
            position: absolute;
            /* расположен точно в родителе */
            z-index: 1;
            /* на нижнем слое */
            top: 0;
            /* расстояние от верха родителя */
            left: 0;
            /* расстояние слева от родителя */
            display: block;
            /* не в строку */
            width: 25px;
            height: 25px;
            content: "";
            transition: border .1s linear;
            /* плавный переход для border */
            border-radius: 50%;
            /* получаем круг */
            background-color: #fff;
            /* цвет фона */
        }

        label:after {
            position: absolute;
            z-index: 2;
            /* на верхнем слое */
            top: 7px;
            left: 7px;
            display: block;
            width: 11px;
            height: 11px;
            content: "";
            transition: opacity .1s linear;
            /* плавный переход для opacity */
            opacity: 1;
            /* полностью прозрачный */
            border-radius: 50%;
            background-color: #E3E3E3;
        }

        input[type=radio]:checked+label:before {
            border-color: $orange;
            box-shadow: 0 0 10px rgba(241, 90, 36, .5)
        }

        input[type=radio]:checked+label:after {
            opacity: 1;
            background-color: $orange;
        }
      }
     
  }
  .thanks{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    background-color: rgba(0,0,0, .56);
    display: none;
    z-index: 999;
    .modal{
        background-color: #FFBB6A;
    }
    
  }
  .thanks__image {
    width: 94%;
    position: relative;
    bottom: -38px;
    left: 32%;
    img{
        width: 100%;
    }

}
.thanks__message{
    position: absolute;
    bottom: 64%;
    width: 66%;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}
}

@include media-breakpoint-down(xs) {}