.footer 
        .contacts
            .contacts-adress.text-white    Москва, Мясницкий проезд, д.3с1
            .contacts-tel.text-white 8 (499) 922-89-74
            .contacts-link.social
                .social-link 
                    img(src="/icons/contact-icon-fb.svg", alt="")
                .social-link 
                    img(src="/icons/contact-icon-inst.svg", alt="")
                .social-link 
                    img(src="/icons/contact-icon-pn.svg", alt="")
        .map_canvas#map_canvas
                script if (window.screen.width > 575) {document.write ('<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;width=500&amp;height=400&amp;apikey=<9494397d-47b8-46b0-a545-f908a99eb812>"><\/script>')};
                
