@include media-breakpoint-up(xl) {
    .reviews {
        .container {
            max-width: 1140px;
        }

        &__clients {
            gap: 10px;
        }


        .client-item {
            width: 48%;
            height: 120px;
            padding: 10px;
        }

    }
}