@include media-breakpoint-up(lg) {
  .footer {
    font-size: 15px;
    &__inner{
      align-items: stretch;
    }
    .small-menu{
      display: none;
    }
    .desktop-menu{
      display: flex;
    }
   
    &__nav-inner{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;  
    }
    &__nav{
      margin:0;
      display: flex;
      justify-content: space-between;
    }
    &__politic {
      display: block;
    }
    &__tel-inner{
      display: flex;
      justify-content: space-between;
    }
  }
}
