.consult-form
    .consult-form-decor__img--after
    .container
            .consult-form__wrap
                .consult-form__content.col-md-8.offset-md-4.col-lg-7.offset-lg-5
                        h3.consult-form__title Заказать 
                            span.color-text консультацию
                        .consult-form__subtitle Наш менеджер перезвонит вам в течение 10 минут
                        form.consult-form__inner.validate-form
                            input(type="tel" name="phoneConsult" placeholder="+7 ( )").consult-form__tel
                            .consult-form__check
                                input(type="checkbox" id="checkConsult" name="checkConsult")
                                label(for="checkConsult") Я согласен с 
                                    a(href="#").politics-link  политикой конфиденциальности
                            .consult-form__button
                                button(type="submit").button-calculate 
                                    span Отправить
            .consult-form-decor__img--before
                        