@include media-breakpoint-up(xs) {
  .process {
<<<<<<< HEAD
    padding: 40px 20px 45px 40px; 
    text-align: center;
    background-color:  #F8FBFF;
=======
    padding: 40px 15px 45px 30px; 
>>>>>>> 7660293a0958943c26e059561b255e40e45dfaf8
    .container{
      padding: 0;
    }
    &__title{
      margin: 0 0 50px 0;
    }
   

    &__items{
      display: flex;
      flex-direction: column;
      justify-content:space-between;
    }
    &__item{
      display: flex; 
      justify-content: space-around;
      width: 100%;
    }
    &__item-text{
     
      text-align: left;
      display: flex;
      align-items: center;
      width: 70%;
  }

    &__item-title{
      margin:0; 
    }
    &__item-num{
      font-size: 3.125rem;
      text-shadow: 2px 0 0 #FED100;
      font-weight: 300;
    }
    &__item-desc {
      display: none;
    }
  }
}

@include media-breakpoint-down(xs) {

}
