@include media-breakpoint-up(lg) {
    .header {
        .small-menu {
            display: none;
        }

        .desktop-menu {
            display: flex;
            justify-content: space-between;
            padding: 15px 0 0 0;
        }

        &__wrap {
            align-items: baseline;
            margin: 15px 0 0;
        }

        .header__nav-link {
            color: inherit;
        }

        &__tel {
            display: flex;
            align-self: flex-end;

            &::before {
                top: 3px;
            }
        }

        &__nav-inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
    }
}
